table td {
	padding: 2px;
	font-size: .9em;
	line-height: 1.3em;
}
.form-item {
	margin: 0px;
}
fieldset {
	margin: 0px;
	padding: 0px;
}
fieldset.collapsible {
	margin: 0px;
	padding: 0px;
	font-size: .95em
}
fieldset.collapsed {
	height: 0px;
}
.listing-location {
	margin-top: 5px;
	font-weight: bold;
	font-size: 1.2em;
}
.listing-location img {
	float:left;
}
#listing_search_block form, input {
	font-size: .9em;
}
#listing_search_block input {
	font-size: .9em;
}
#listing_search_block select, table {
	font-size: 10px;
}
#listing_featured_blk{
	display: block;
	font-size: .9em;
	line-height: 1.3em;
	border:1px solid #999;
	margin-top: 2px;
	padding:2px;
	min-height: 75px
}
#listing_featured_blk .title { 
	font-weight: bold;
}
/* status box when viewing a listing */
.Pending-listing_status {
	float:right;
	font-weight: bold;
}
.Sold-listing_status {
	float:right;
	font-weight: bold;
	color: red;
}
.Active-listing_status {
	float:right;
	font-weight: bold;
}
/* Listing Agengt Box */
.listing_agent {
	width: 100px;
	height: 110px;
	padding: 2px;
	float: right;
	border-left:1px solid #999;
	line-height: 1.5em;
	font-size: .9em;
}
.agent_name {
	font-weight: bold;
	background-color: #CCCDD0;
	color: #000;
	padding: 1px;
}
/* node_images */
.node_images img {
	margin: 2px;
};
